<main class="flex flex-column mx-4 sm:mx-8">
  <ng-container *ngIf="articles$ | async as articles">
    <p-dataView #dv
                [value]="articles"
                [paginator]="false"
                layout="grid"
                [sortField]="sortField"
                [sortOrder]="sortOrder"
    >
      <ng-template #header>
        <div class="flex flex-column align-items-center gap-2 sm:flex-row sm:justify-content-between w-full">
          <a pButton class="font-bold">Créer un article</a>
          <p-button (onClick)="toggleSortOrder()" label="Trier par" [icon]="sortOrder === 1 ? 'pi pi-arrow-down' : 'pi pi-arrow-up'" iconPos="right" severity="contrast" [text]="true"/>
        </div>
      </ng-template>
      <ng-template #grid let-article>
        <div class="grid my-4">
          <a *ngFor="let article of articles; let first = first" class="col-12 sm:col-6">
            <div class="card">
              <h2 class="text-base text-semibold">{{article.title | titlecase }}</h2>
              <div class="flex gap-8 text-sm">
                <p>{{article.createdAt | date }}</p>
                <p>{{article.author | titlecase}}</p>
              </div>
              <p class="text-sm">{{article.content}}</p>
            </div>
          </a>
        </div>
      </ng-template>
    </p-dataView>
  </ng-container>
</main>
